<%- layout('layout') %>

<section role="main" class="content-body" style="margin-left: 0;">
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#top-malware" data-toggle="tab">Malwares</a>
            </li>
            <li class="">
                <a href="#top-region" data-toggle="tab">Regions</a>
            </li>
            <li class="">
                <a href="#top-remote" data-toggle="tab">Remote Sites</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="top-malware" class="tab-pane active">
                <table class="table table-bordered table-striped" id="table-top-malware">
                    <thead>
                    <tr>
                        <th width="20%">Rendering engine</th>
                        <th width="25%">Browser</th>
                        <th width="25%">Platform(s)</th>
                        <th width="15%">Engine version</th>
                        <th width="15%">CSS grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="top-region" class="tab-pane">
                <table class="table table-bordered table-striped" id="table-top-region">
                    <thead>
                    <tr>
                        <th width="20%">Rendering engine</th>
                        <th width="25%">Browser</th>
                        <th width="25%">Platform(s)</th>
                        <th width="15%">Engine version</th>
                        <th width="15%">CSS grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="top-remote" class="tab-pane">
                <table class="table table-bordered table-striped" id="table-top-remote">
                    <thead>
                    <tr>
                        <th width="20%">Rendering engine</th>
                        <th width="25%">Browser</th>
                        <th width="25%">Platform(s)</th>
                        <th width="15%">Engine version</th>
                        <th width="15%">CSS grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>