body {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.land {
    fill: white;
    fill-opacity: 1;
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

a {
    color: #00B7FF;
}

.popup {
    display: none;
    position: absolute;
    z-index: 9999;

    background-color: #1d2127;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px 1px black;

}