body {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.land {
    fill: white;
    fill-opacity: 1;
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

a {
    color: #00B7FF;
}

.popup {
    display: none;
    position: absolute;
    z-index: 9999;
    border-radius: 5px;
    background-color: #141e29;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px 1px black;
}

.badge {
    cursor: pointer;
}

.col-index {
    width: 10px;
    text-align: center;
}

.col-badge {
    width: 10px;
    text-align: center;
}

.col-flag {
    width: 20px;
    text-align: center;
}