body {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.land {
    fill: white;
    fill-opacity: 1;
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

a {
    color: #00B7FF;
}
